.let_dive {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    font-size: 35px;
    background: linear-gradient(45deg, #FFA500, #888686);
    background-clip: text;
    color: transparent;
}

.accordion_container {
    border: 2px solid rgb(128, 127, 126);
    box-shadow: 0 0 10px rgba(196, 195, 194, 0.7);

    border-radius: 10px;
}

.accordion_title {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
}

.accordion-item {
    font-family: 'Playfair Display SC', serif;
    font-weight: bolder;

}

@media(max-width:768px) {
    .accordion_container {
        border: 1px solid white;
        

    }
    .let_dive
{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    font-size:25px;
    
}
}